<h2>
 <ac:emoticon ac:emoji-fallback="\uD83E\uDD14" ac:emoji-id="1f914" ac:emoji-shortname=":thinking:" ac:name="blue-star">
 </ac:emoticon>
 Problem
</h2>
<p>
 <ac:placeholder>
  Add a short description of the problem.
 </ac:placeholder>
</p>
<h2>
 <ac:emoticon ac:emoji-fallback="\uD83C\uDF31" ac:emoji-id="1f331" ac:emoji-shortname=":seedling:" ac:name="blue-star">
 </ac:emoticon>
 Solution
</h2>
<p>
 <ac:placeholder>
  Describe how someone would solve the problem in a short, step-by-step guide:
 </ac:placeholder>
</p>
<ol>
 <li>
  <p>
   <ac:placeholder>
    Add steps that are simple and self-contained
   </ac:placeholder>
  </p>
 </li>
 <li>
  <p>
   <ac:placeholder>
    Add illustrations to instructions by typing /image
   </ac:placeholder>
  </p>
 </li>
 <li>
  <p>
   <ac:placeholder>
    Stick to 3-5 steps per task to avoid overloading readers
   </ac:placeholder>
  </p>
 </li>
</ol>
<p>
</p>
<ac:structured-macro ac:macro-id="abfb01cb-cb28-411a-99b5-788e0e8d5fec" ac:name="info" ac:schema-version="1">
 <ac:rich-text-body>
  <p>
   Highlight important information in a panel like this one. To edit this panel's color or style, select one of the options in the menu.
  </p>
 </ac:rich-text-body>
</ac:structured-macro>
<h2>
 <ac:emoticon ac:emoji-fallback="\uD83D\uDCCE" ac:emoji-id="1f4ce" ac:emoji-shortname=":paperclip:" ac:name="blue-star">
 </ac:emoticon>
 Related articles
</h2>
<p>
 <ac:placeholder>
  The content by label feature automatically displays related articles based on labels you choose. To edit options for this feature, select the placeholder and tap the pencil icon.
 </ac:placeholder>
</p>
